* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Times New Roman", Times, serif;
}

/* RESPONSIVE FONT SET-UP */

@media only screen and (max-width: 1000px) {
  html {
    font-size: 45%;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

/* TEXT SET-UP */

h1 {
  font-size: 7rem;
  margin: 1.5rem 0;
  line-height: 0.9;
}

h2 {
  font-size: 4.4rem;
  font-style: italic;
  line-height: 1.1;
}

h3 {
  font-size: 3.6rem;
  font-weight: 400;
}

h4,
marquee {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
}

p,
li {
  font-size: 1.8rem;
  line-height: 1.2;
}

.italic {
  font-style: italic;
}

.runningline {
  padding: 1rem 0;

  border-top: solid 1.5px #000;
  border-bottom: solid 1.5px #000;
}

/* CONTAINERS SET-UP */

body {
  background-image: url(Images/background.jpeg);
}

.newspaper {
  max-width: 100rem;
  margin: 10rem auto;
  padding: 6rem 3rem;
  background-image: url(Images/paper2.jpeg);

  box-shadow: 0 0 0.2rem #00000027;
}

.content {
  display: flex;
}

.main {
  flex: 0 0 65%;
  padding: 0 2.5rem;

  border-right: solid 1.5px #000;
}

.side {
  flex: 35%;
  padding: 0 2.5rem;
}

.side_first {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  margin-bottom: 5rem;
}

.side_second {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.articles {
  display: flex;
  column-gap: 2rem;
}

.main_article {
  flex: 0 0 65%;
}

.secondary_article {
  flex: 35%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  margin-left: 3rem;
}

/* NAVIGATION SET-UP */

.navigation {
  height: 1rem;
  padding: 0 2rem;
  padding-bottom: 2rem;

  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#emotion {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.1s;
}

#arrow {
  transition: 0.1s;
  transform: scale(0);
}

#emotion:hover #arrow {
  transform: scale(1);
}

#emotion:active {
  transform: scale(1.02);
}

.icon {
  width: 3rem;
  height: auto;
  color: rgb(0, 0, 0);

  transition: 0.2s;
}

.icon:hover,
.icon:active {
  transform: scale(1.1);
}

a,
a:visited {
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* MAIN HEADER */

.header {
  text-align: center;

  border-top: solid 2px #000;
  border-bottom: 2px solid #000;

  margin-bottom: 6rem;
}

.border_bottom {
  margin-bottom: 0.5rem;
  display: block;
  border-bottom: 3px solid #000;
}

.border_top {
  margin-top: 0.5rem;
  display: block;
  border-top: 3px solid #000;
}

/* IMAGES */

.main_picture {
  width: 100%;
  height: auto;

  margin: 2rem 0;
}

.images {
  display: flex;
  justify-content: space-between;

  margin: 2rem 0;
}

.long_picture {
  width: 30%;
  height: auto;
}

.small_picture {
  width: 100%;
  height: auto;
}

/* QUOTE SECTION */

.quote {
  text-align: center;
  padding: 3rem 0;

  border-top: solid 1.5px #000;
  border-bottom: solid 1.5px #000;
}

.text {
  margin-bottom: 1rem;
}

/* RESPONSIVE DESIGN SET-UP */

@media only screen and (max-width: 800px) {
  .newspaper {
    margin: 5rem 5rem;
  }

  .navigation {
    padding: 0;
    padding-bottom: 3rem;
  }

  #arrow {
    transform: scale(1);
  }

  .content {
    flex-direction: column;
  }

  .main {
    padding-bottom: 5rem;
    margin-bottom: 5rem;

    border-right: none;
    border-bottom: solid 1px #000;
  }

  .side {
    display: flex;
    column-gap: 6rem;
  }

  .side_first {
    flex: 0 0 45%;
  }

  .side_second {
    flex: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .articles {
    flex-direction: column;
    row-gap: 3rem;
  }

  .main_article {
    flex: 0 0 1;
  }

  .secondary_article {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .secondary_article .small_picture {
    width: 30%;
  }

  .quote {
    width: 30%;
    padding: 1rem 0;

    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
  }
}

@media only screen and (max-width: 500px) {
  .articles {
    flex-direction: column;
    row-gap: 3rem;
  }

  .main_article {
    flex: 0 0 1;
  }

  .secondary_article {
    flex: 1;

    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  .secondary_article .small_picture {
    width: 100%;
  }

  .quote {
    width: 100%;
    padding: 1rem 0;

    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
  }

  .side {
    flex-direction: column;
    row-gap: 3rem;
  }

  .side_first {
    flex: 0 0 1;
  }

  .side_second {
    flex: 1;
  }
}
