* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.68vw;
}

body {
  width: auto;
  font-family: "Notable", sans-serif;
}

p {
  font-family: "Indie Flower", cursive;
  font-size: 1.8rem;
  line-height: 1.3;
}

a,
a:visited {
  font-family: "Indie Flower", cursive;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

/* SCROLL TEXT SET-UP */

.scroll {
  display: flex;
  column-gap: 10rem;
}

.top {
  margin-top: -5rem;
}

.bottom {
  position: absolute;
  margin-top: 42vh;
  right: 0;
  /* padding-right: 5rem; */
}

h1 {
  font-size: 16rem;
  color: #5b1059;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 aliceblue, 1px -1px 0 aliceblue, -1px 1px 0 aliceblue,
    1px 1px 0 aliceblue;

  transition: 0.6s;
}

.bottom h1 {
  color: #4b0c53;
}

h1:hover,
.bottom h1:hover,
h1:active,
.bottom h1:active {
  text-transform: uppercase;
  color: aliceblue;
}

/* LAYOUT SET-UP */

.container {
  overflow: hidden;
  height: 400rem;
  background: linear-gradient(#600f5d, #2e0846, #0e155b, #343c90);
  position: relative;
}

/* PACHI SET-UP */

.fixed {
  position: fixed;
}

.pachi {
  display: block;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);

  width: 30%;
  height: auto;
}

.bubble {
  /* display: none; */

  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 20%;
  text-align: center;
}

.pachi:hover + .bubble,
.pachi:active + .bubble {
  /* display: block; */

  left: 68%;
  top: 45%;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.6s;

  height: auto;
}

.bubble_image {
  position: relative;
}

.bubble_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

/* CLOUDS */

.cloud {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: transform 1s;

  height: auto;
}

.cloud:hover,
.cloud:active {
  transform: translate(-50%, -50%) scale(1.1);
  /* transition: 1s; */
}

.cloud:visited {
  transform: translate(-50%, -50%) scale(1);
  /* transition: 1s; */
}

.first {
  width: 50%;
  top: 25%;
  left: 5%;
}
.second {
  width: 30%;
  top: 28%;
  left: 25%;
}
.third {
  width: 55%;
  top: 38%;
  left: 90%;
}
.fourth {
  width: 35%;
  top: 49%;
  left: 65%;
}
.fifth {
  width: 50%;
  top: 58%;
  left: 10%;
  pointer-events: none;
}
.sixth {
  width: 60%;
  top: 68%;
  left: 100%;
}
.seventh {
  width: 50%;
  top: 82%;
  left: 27%;
}
.eighth {
  width: 30%;
  top: 85%;
  left: 5%;
}
.ninth {
  width: 50%;
  top: 95%;
  left: 85%;
  pointer-events: none;
}

/* HIDDEN DUDES SET-UP */

.dude {
  position: absolute;
  transition: 0.4s;
  transform: translate(-50%, -50%) scale(0.8);
}

.pinkie {
  top: 58%;
  left: 13%;
  width: 10%;
}

.dude:hover,
.dude:active {
  transform: translate(-50%, -100%) scale(1.5);
}

.orangie {
  top: 95%;
  left: 85%;
  width: 10%;
}

.final_text {
  position: absolute;
  bottom: 3rem;
  left: 4rem;

  color: rgb(173, 214, 249);
  font-size: 2rem;
  width: 60rem;
}

.final_text > * {
  margin-bottom: 0.5rem;
}

/* NAVIGATION SET-UP */

.navigation {
  height: 5rem;
  padding: 0 6rem;
  padding-top: 3rem;
  background-color: #600f5d;

  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#emotion {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.1s;
}

#arrow {
  transition: 0.1s;
  transform: scale(0);
}

#emotion:hover #arrow {
  transform: scale(1);
}

#emotion:active {
  transform: scale(1.02);
}

.icon {
  width: 3rem;
  height: auto;
  color: white;

  transition: 0.2s;
}

.icon:hover,
.icon:active {
  transform: scale(1.1);
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }

  h1 {
    font-size: 12rem;
  }

  .scroll {
    margin-top: 5rem;
  }

  .bottom {
    margin-top: 45vh;
  }

  .pachi {
    width: 50vw;
    height: auto;
    top: 40vh;
  }

  .bubble {
    width: 25%;
    left: 65%;
    top: 45%;
  }

  .pachi:hover + .bubble,
  .pachi:active + .bubble {
    left: 75%;
    top: 40%;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.6s;

    height: auto;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 45%;
  }

  h1 {
    font-size: 6rem;
  }

  p {
    font-size: 1.5rem;
  }

  .scroll {
    column-gap: 4rem;
  }

  .bottom {
    margin-top: 55vh;
  }

  .pachi {
    width: 70vw;
    height: auto;
    top: 45%;
  }

  .bubble {
    width: 40%;
    left: 65%;
    top: 55%;
  }

  .pachi:hover + .bubble,
  .pachi:active + .bubble {
    /* display: block; */

    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.6s;

    height: auto;
  }

  .final_text {
    text-align: center;

    transform: translate(-50%, -50%);
    bottom: 3rem;
    left: 50%;
  }
}
