* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1 {
  font-family: "Comforter", cursive;
  font-size: 16rem;
  font-weight: normal;
}

h2 {
  font-family: "Comforter", cursive;
  font-size: 7rem;
  font-weight: normal;
  color: #292929;
}

p {
  font-family: "Comforter", cursive;
  font-size: 2.4rem;
}

/* LINKS SET-UP */

li {
  list-style: none;
  margin-bottom: 1.2rem;
}

ul:last-child {
  margin-bottom: 0;
}

a,
a:visited {
  font-family: "Cherry Cream Soda", cursive;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

  transition: 0.4s;
}

a:hover {
  margin-left: 2rem;
}

a:active {
  font-size: 2.3rem;
}

/* MAIN LAYOUT SET-UP */

.main_container {
  width: 100vw;
  height: 100vh;

  background-image: url(/Home_page/Images/bg.jpg),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
}

.text_image {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 30rem;
}

.extra_text {
  position: absolute;
  left: 3rem;
  top: 3rem;
  width: 40rem;
}

.quote {
  position: absolute;
  right: -5rem;
  bottom: -2rem;
  transform: rotate(-15deg);
}

.main_image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
  height: 65rem;
}

.title {
  position: absolute;
  top: 2%;
  right: 5%;

  z-index: 1;
}

.container {
  position: absolute;
  bottom: 10vh;
  left: 15vw;

  width: 90rem;
  height: 50rem;
  background-color: #9e9e9e;
  box-shadow: 0.5rem 0.5rem 0.3rem #0000006a;

  display: flex;
  gap: 5rem;
  align-items: center;
}

.emotion_face {
  width: 30rem;
  height: 40rem;
  object-fit: cover;
  background-image: url(/Home_page/Images/bg.jpg);
  background-size: cover;

  margin-left: 5rem;
}

/* RESPONSIVE SET-UP */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 900px) {
  .main_image {
    left: -10rem;
    bottom: 0vw;
    height: 80rem;
  }

  .container {
    bottom: 15vh;
    left: 12vw;
    width: 75rem;
    gap: 3rem;
  }

  .title {
    top: 16%;
    right: 5%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 45%;
  }

  h1 {
    font-size: 12rem;
  }

  .main_image {
    left: -15rem;
    bottom: 0vw;
    height: 65rem;
  }

  .container {
    bottom: 15vh;
    left: 8vw;
    width: 75rem;
    height: 45rem;
    gap: 3rem;
  }

  .quote {
    right: 22rem;
    bottom: -10rem;
  }

  .emotion_face {
    width: 20rem;
    height: 35rem;
  }

  li {
    margin-bottom: 1rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 40%;
  }
}
