* {
  margin: 0;
  padding: 0;
}

/* html {
  font-size: 12px;
} */

/* RESPONSIVE DESIGN SET-UP */

@media only screen and (max-width: 600px) {
  html {
    font-size: 5px;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 6px;
  }
}

@media only screen and (min-width: 800px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 12px;
  }
}

/* BODY LAYOUT SET-UP */

body {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;

  position: relative;
  /* padding: 200px; */
  padding: 16rem;

  /* background-color: hsla(0, 0%, 0%, 0.241); */
}

.receipt {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 80px 120px; */
  padding: 6rem 9rem;

  /* RECEIPT TEXTURE */
  background-image: url(bg\ texture.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 0 0 15px 10px rgba(22, 22, 22, 0.089);
}

/* FONT STYLES */

h1 {
  /* font-size: 10vw; */
  font-size: 10rem;
  text-align: center;
}

h2 {
  /* font-size: 3.6vw; */
  font-size: 4.2rem;
  letter-spacing: 1px;
  line-height: 1.2;
}

h3 {
  /* font-size: 3vw; */
  font-size: 3.2rem;
  line-height: 1.2;
}

span {
  /* font-size: 1.8vw; */
  font-size: 2rem;
}

p {
  /* font-size: 2.4vw; */
  font-size: 2.8rem;
  line-height: 1.5;
}

/* FORMATING STARS */

.stars {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

/* FORMATING ITEMS */

.item {
  position: relative;
}

.item p {
  display: inline;
}

.price {
  position: absolute;
  right: 0;
}

.item_name {
  position: absolute;
  left: 3.5rem;
}

/* FORMATING SECTIONS */

.order_info_text,
.subtotal,
.tax,
.total {
  display: flex;
  justify-content: space-between;
}

.contact_info h2,
.thank_you h2 {
  text-align: center;
}

.order_info,
.payment,
.order,
.total,
.thank_you {
  margin: 7rem 0;
}
